.field.yo-app#action
  .row
    = render 'web/welcome/shared/action_text', class_name: :laptop
    .large-6.columns
      .form
        %h4
          Исходный текст
          = fa_icon 'spin circle-o-notch', class: :h4
        %h3
          .input-group
            %input.input-group-field#original{ type: :text, disabled: :disabled }
            .input-group-button
              %a.button.success#magic
                = fa_icon :magic
        %h4
          Конвертированный текст
        %h3
          .input-group
            %input.input-group-field#converted{ type: :text, disabled: :disabled }
            .input-group-button
              %a.button.primary#like
                = fa_icon 'thumbs-up'
    = render 'web/welcome/shared/action_text', class_name: :mobile
  .arrow-down{ style: 'top: 290%' }
    = link_to '#', style: 'color: white', data: { href: '#action' } do
      = fa_icon 'arrow-circle-o-down 4x'
