.field.on_your_site#on_your_site{ style: ' color: #333' }
  .row
    .large-8.large-offset-2.columns
      .text
        %h1
          Ё-приложение в Вашем проекте
        %h5
          Мы подготовили API, чтобы вы могли использовать наш функционал для текстов на Вашем сайте или приложении в режиме реального времени
        %h5
          Прочитать инструкцию на сайте Молодёжного инициативного центра 
          = link_to 'ulmic.ru', 'http://ulmic.ru'
        %br
        %h2
          = link_to 'http://ulmic.ru/articles/79', class: 'button primary' do
            = fa_icon :link
            Перейти 
  .arrow-down{ style: 'top: 290%' }
    = link_to '#', style: 'color: white', data: { href: '#on_your_site' } do
      = fa_icon 'arrow-circle-o-down 4x'
