%hr
%h1
  Вставьте свой текст
.callout.info#we_dont_save_texts
  = fa_icon 'exclamation-circle'
  Мы не сохраняем по умолчанию ваши тексты
  = fa_icon 'spin circle-o-notch'
= render 'web/shared/conversion_form'
%span.label.label-warning
  Мы не сохраняем по умолчанию ваши тексты

= content_for :content do
  = render 'karamzin'
  = render 'telegram_bot'
  = render 'action'
  = render 'on_your_site'
  = render 'gem'
