%hr
%h1
  Вставьте свой текст
.callout.info#we_dont_save_texts
  = fa_icon 'exclamation-circle'
  Мы не сохраняем по умолчанию ваши тексты
  = fa_icon 'spin circle-o-notch'
= render 'web/shared/conversion_form'
%span.label.label-warning
  Мы не сохраняем по умолчанию ваши тексты

= content_for :content do
  .field{ style: 'background-color: #eee6c2; color: #333' }
    .row
      .large-6.columns
        .image
          = image_tag 'karamzin.jpg'
      .large-6.columns.end{ style: 'margin-left: -20px' }
        .text
          %h1
            Николай Михайлович Карамзин
          %h5
            историк, крупнейший русский литератор эпохи сентиментализма
          %h5
            уроженец Симбирской губернии, считается автором буквы Ё
