.row.result
  .medium-6.columns
    %h4
      Конвертированный текст
      = link_to '#', id: 'to_clipboard', 'data-clipboard-text' => @conversion.converted_body do
        = fa_icon :clipboard
    = @conversion.converted_body
  .medium-6.columns
    %h4
      Исходный текст
    = params[:body]
.row.actions
  .meduim-12.columns
    = link_to conversion_path(@conversion, conversion: { status: :good }), class: 'button success large' do
      = fa_icon :check
      Всё правильно!
    = link_to conversion_path(@conversion, conversion: { status: :good }), class: 'button alert large' do
      = fa_icon :remove
      Есть ошибки...
