%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title Ё-приложение | Карамзин
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shared/google_analytics'
  %body
    .header
      = render 'layouts/shared/navbar'
      .container
        .row
          .medium-12.columns
            = yield
    .content
      = yield :content
  = render 'layouts/shared/footer'
